{% extends 'shops\shp_base.html' %}

{% block head1 %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/login.css'%}">
<script src="{% static 'js/login.js'%}"></script>


{% endblock %}


{%block nav%}
                   <li><a href="{% url 'index'%}">Home</a></li>
                    <li><a href="{% url 'shop'%}">Store</a></li>

{%endblock%}

{% block content %}


<style>
	.error-message {
color: red;
margin-top: 5px;
}
</style>



<div class="login-wrap">
	<div class="login-html">
		<label for="tab-1" class="tab">RESET PASSWORD</label>
        <br>
		
		<div class="login-form">
			
			<div>
				<form action="{% url 'shpforgot' %}" method="post">
					{% csrf_token %}

				<div class="group">
                    <br>
					<label for="user" class="label">Email Address</label>
                    <br>
					<input id="user" type="text" class="input" name="email">
				</div>
				
				{% for msg in messages %}
				<div class="group" style="text-align: center;">
					<label for="pass" class="label" style="color: red;">{{msg}}</label>
				</div>
				{% endfor %}
				

				<div class="group">
					<input type="submit" class="button" value="SEND">
				</div>
			</form>

			</div>
		
		
			
		</div>
	</div>
</div>
{%endblock%}

    
